h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin : 0px;
    padding: 20px;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

p.main{
    font-style: oblique;
}

li{
    color:rgb(124, 72, 9);
    list-style-type: square;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin : 0px;
    padding: 15px;
    color: rgb(0, 0, 0);
}

.card p{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.card h2{
    color: rgb(90, 0, 8);
}

.card{
    display : flex;
    text-align: center;
    flex-direction: column ;
    justify-content: center; 
    align-items: center;
    margin: 10px;
    background-color: antiquewhite;
    border-radius: 30px;
    padding: 30px;
    border: 3px solid rgb(189, 143, 63);
}